@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Teko:wght@300..700&display=swap');

/*Estilização Geral*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f5f2f2;
    color: #ffffff;
}

a,
ul {
    text-decoration: none;
    list-style: none;

}

html {
    height: 100%;
    font-family: "Inter", sans-serif;
    font-weight: 500;
}

.interface {
    width: 100%; /* Preenche 100% da largura da tela */
    max-width: 1220px; /* Mas não excede 1220px */
    margin: 0 auto; /* Centraliza o conteúdo */
    padding: 20px;
    padding-left: 0px;
}

.flex {
    display: flex;
}
.homeBtn{
    color: #e6e5e5;
    background-color: rgb(12, 179, 12);
}

button {
    font-family: "Roboto", sans-serif;
    padding: 1em 1.8em;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
    font-size: 25px;
    text-transform: uppercase;
    transition: .2s;
}

button:hover {
    background-color: rgb(12, 179, 12);
    color: white;
    box-shadow: 0 0 48px 10px green;
}

.float {
    opacity: 0;
    position: fixed;
    width: 80px;
    height: 80px;
    bottom: 20px;
    right: 20px;
    background-color: rgb(21, 211, 21);
    border-radius: 50px;
    border: 2px solid #ffffff;
    color: #fff;
    text-align: center;
    font-size: 45px;
    box-shadow: 2px 2px 2px #dadada;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 1s ease, opacity .5s ease;
    /* Transição suave */
    transform: translateX(0px);
    /* Movimenta para fora da tela inicialmente */
}

.rolagemWhats {
    position: fixed;
    opacity: 1;
    transform: translateX(0);
    /* Volta para a posição correta */
}

#whats a i {
    color: #fff;
}

/* Estilização do Cabeçalho */
.conteudoHeader {
    max-width: 1120px;
    margin: auto;
}

.menuHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menuHeader a{
    text-decoration: none;
    color: #fff;
}

#header.rolagem {
    background-color: #fff;
    padding: 20px 4%;
    border-bottom: 2px solid #1DC6E0;
    
}

#header.rolagem a,
#header.rolagem span{
    color: #1DC6E0;
}

#header {
    border-bottom: 3px solid;
    width: 100%;
    padding: 3.75rem 4%;
    position: fixed;
    top: 0;
    left: 0;
    transition: .5s;
    z-index: 1000;
}

#header nav.menuHeader span {
    font-family: Teko;
    font-size: 40px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
}

#header nav.menuHeader ul li {
    font-size: 19px;
    display: inline-block;
    margin: 0 40px;
}

#header nav.menuHeader ul li a {
    color: #fff;
    text-decoration: none;
}

#header button {
    font-family: "Roboto", sans-serif;
    padding: 1em 1.8em;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
}

#header button:hover {
    background-color: rgb(12, 179, 12);
    color: white;
    box-shadow: 0 0 48px 10px green;

}

#header.rolagem button {
    background-color: #1DC6E0;
    color: #fff;
}

#header.rolagem button:hover {
    background-color: rgb(12, 179, 12);
    color: #fff;
}

/* Estilo do menu mobile */
.btn-abrir{
    display: none;
}
#header.rolagem .btn-abrir i{
    color: #1DC6E0;
    font-size: 30px;
}
#header.rolagem .menu-mobile nav ul li a{
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    display: block;
    padding: 10px 4%;
}
.btn-abrir i{
    color: #fff;
    font-size: 30px;
}
.menu-mobile{
    background-color: #17a8be;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999;
    width: 0%;
    overflow: hidden;
    transition: .5s;
}
.menu-mobile nav ul {
    text-align: right;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: flex-end;
    padding: 10px;

}
.menu-mobile nav ul li a{
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    display: block;
    padding: 10px 4%;
}
.menu-mobile nav ul li a:hover{
    background-color: #268DE0;
}
.menu-mobile .btn-fechar{
    padding: 20px 8%;
}
.menu-mobile .btn-fechar i{
    color: #fff;
    font-size: 30px;
}
.overlay-menu{
    background-color: #000000a9;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 8888;
    display: none;
}
.menu-mobile.abrir-menu{
    width: 70%;
}
.menu-mobile.abrir-menu ~ .overlay-menu{
    display: block;
}

/* Estilização do hero. */
.homeBack {
    height: 100vh;
    background: linear-gradient(to bottom, #5cb0d2, #61bede);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
}

.home {
    padding: 40px 4%;
    margin-top: 18vh;
}

.home .flex {
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.homeTexto {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

h1 {
    line-height: 1.5;
    font-family: "Roboto", sans-serif;
    font-size: 56px;
    font-weight: 800;
    border-bottom: 1px solid;
    padding-bottom: 10px;
    max-width: 700px;
    text-transform: uppercase;
}

h1 span {
    background-color: #268DE0;
    padding: 5px;
}

h2 span {
    background-color: #268DE0;
    color: #fff;
    padding: 5px;
}

p span {
    background-color: #268DE0;
    padding: 5px;
}

.homeImagem img {
    max-width: 400px;
    height: 500px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.subtituloHome {
    font-family: "Epilogue", serif;
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
    max-width: 650px;
}

/*Estilização da section beneficios*/

.beneficios {
    height: 100vh;
    color: #17a8be;
    padding: 80px 4%;
}

h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 40px;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
}

.cards {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color: #268DE0;
    padding: 20px;
    border: 2px solid #268DE0;
    border-radius: 40px;
    margin-top: 45px;
    transition: .2s;


}

.cards:hover {
    transform: scale(1.05);
    box-shadow: 0 0 8px #00282e6b;
}

.cards i {
    font-size: 75px;
}

.texto h3 {
    font-size: 28px;
    text-transform: uppercase;
}

.texto p {
    font-size: 20px;
    width: 500px;
}

.beneficios .flex {
    gap: 30px;
    flex-direction: column;
}

.cardsTop {
    display: flex;
    gap: 20px;
    align-items: center;
    text-align: justify;
}

.cardsBottom {
    display: flex;
    gap: 20px;
    text-align: justify;
}

/*Estilização Serviços*/
.servicos {
    height: 100vh;
    background: linear-gradient(to bottom, #5cb0d2, #61bede);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px 4%;
}

.servicos .flex {
    justify-content: space-around;
    margin-top: 60px;
}

.cardServicos {
    background-color: #f5f2f2;
    color: #268DE0;
    width: 500px;
    height: 500px;
    border-radius: 10px;
    text-align: center;
    box-shadow: rgba(255, 255, 255, 0.4) 0px 30px 90px;
}

.cardServicos h2 {
    font-size: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 0.5px solid;
}

.cardServicos p {
    font-size: 17px;
    padding: 20px 20px;
    text-align: justify;
}

.cardServicos img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/*Estilização da section Contato*/
.contato {
    color: #00BFFF;
    padding: 80px 4%;
}

h3 {
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    margin-top: 20px;
    color: #268DE0;
}

.contato button {
    background-color: #00BFFF;
    color: #fff;
    font-family: "Roboto", sans-serif;
    padding: 1em 1.8em;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    font-size: 35px;
    text-transform: uppercase;
    transition: .3s;
}

.contato button:hover {
    background-color: green;
    color: white;
    box-shadow: 0 0 48px 10px green;
}

.contato .flex {
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Estilização do footer*/
footer {
    padding: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #17a8be;
}

footer p {
    font-size: 1rem;
    font-weight: 600;
}

/*Responsividade*/
@media screen and (max-width: 1397px) {
    /* Geral */
    .flex {
        flex-direction: column;
    }
    /* Cabeçalho */
    nav ul {
        display: none;
        /* Ocultar menu no desktop */
    }
    nav {
        align-items: center;
    }
    #header {
        padding: 40px 2%;
        display: flex;
        justify-content: space-around;
    }
    .conteudoHeader {
        margin: 0;
    }
    #header #logo{
        font-size: 30px;
    }
    .btn-abrir{
        display: flex;
        justify-content: flex-end;
        top: 0;
        right: 0;
    }
    /* Home */
    .homeBack {
        height: auto;
    }
    .home .flex {
        flex-direction: column;
        align-items: center;
        margin-top: 0%;
        gap: 0px;
    }
    .home {
        padding: 60px 0%;
        margin-top: 10vh;
    }
    .homeTexto {
        gap: 0px;
        margin-top: 20px;
        /* Espaçamento entre o texto e a imagem */
        text-align: center;
        /* Centraliza o texto */
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .homeTexto h1 {
        font-family: "Roboto", sans-serif;
        font-size: 25px;
        font-weight: 600;
        padding: 20px 4%;
        text-transform: uppercase;
        order: 2; /* Coloca o título como o segundo item */
    }
    .homeTexto p {
        font-size: 20px;
        padding: 20px 4%;
        order: 3;
        margin-bottom: 20px; /* Espaçamento entre o título e o subtítulo */
    }
    .botaoHome {
        padding: 20px 4%;
        margin: auto;
        order: 1; /* Coloca o botão como o primeiro item */
        margin-bottom: 20px;
    }
    .botaoHome button {
        font-weight: bold;
        font-size: 16px;
    }
    .botaoHome button:hover {
        background-color: rgb(12, 179, 12);
        color: white;
        box-shadow: 0 0 48px 10px green;
    }
    .homeImagem img {
        width: 100%;
        /* Certifica-se de que a imagem se ajusta ao container */
        height: 100%;
        /* Mantém a proporção */

    }
    /* Beneficios */
    .beneficios{
        height: auto;
        padding: 60px 0%;
    }
    .beneficios h2 {
        font-family: "Montserrat", sans-serif;
        font-size: 20px;
        font-weight: 600;
        text-transform: uppercase;
        padding: 20px 4%;
    }
    .cardsTop, .cardsBottom {
        flex-direction: column; /* Empilha os cards verticalmente */
        align-items: center;    /* Centraliza os cards */
        gap: 20px;              /* Espaçamento entre os cards */
        text-align: justify;
    } 
    .cards{
        width: 90%;               /* Largura responsiva */
        max-width: 400px;         /* Define um limite máximo */
        padding: 20px;            /* Espaçamento interno */
        box-sizing: border-box;   /* Inclui padding no cálculo da largura */
        text-align: center;       /* Centraliza o conteúdo */
        display: flex;            /* Ativa layout flexível */
        flex-direction: column;   /* Organiza itens verticalmente */
        align-items: center;      /* Centraliza os itens horizontalmente */
        gap: 0px;
        text-align: justify;
    }
    .cards i {
        font-size: 40px; 
    }   
    .cards h3 {
        font-size: 18px;          /* Tamanho ajustado do título */
        text-align: center;       /* Centraliza o texto */
        margin-bottom: 10px;
    }   
    .cards p {
        font-size: 14px;          /* Texto compacto */
    }
    .texto p{
        width: 100%;
        font-size: 14px;         /* Ajusta o tamanho do parágrafo */
        line-height: 1.4;        /* Reduz o espaçamento entre linhas */
        text-align: justify;        /* Alinha o texto à esquerda */
    }

    /* Serviços*/
    .servicos{
        height: auto;
        padding: 60px 0%;
    }
    .servicos h2{
        font-family: "Montserrat", sans-serif;
        font-size: 26px;
        font-weight: 700;
        text-transform: uppercase;
        padding: 20px 4%;
    }
    .cardServicos{
        margin: auto;
        width: 90%;               /* Largura responsiva */
        max-width: 400px;         /* Define um limite máximo */
        box-sizing: border-box;   /* Inclui padding no cálculo da largura */
        text-align: center;       /* Centraliza o conteúdo */
        display: flex;            /* Ativa layout flexível */
        flex-direction: column;   /* Organiza itens verticalmente */
        align-items: center;      /* Centraliza os itens horizontalmente */
        text-align: justify;
        margin-bottom: 25px;
    }
    .cardServicos h2{
        font-size: 25px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: 0.5px solid;
        font-weight: 600;
    }
    .cardServicos p{
        width: 100%;
        font-size: 14px;         /* Ajusta o tamanho do parágrafo */
        line-height: 1.4;        /* Reduz o espaçamento entre linhas */
        text-align: justify;        /* Alinha o texto à esquerda */
    }
    .cardServicos img {
        width: 100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    .servicos .flex{
        margin-top: 10px;
    }

    /* Contato */
    .contato{
        height: auto;
        padding: 60px 0%;
    }
    .contato h2{
        font-family: "Montserrat", sans-serif;
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
        padding: 10px 4%;
        line-height: 2;
    }
    .contato h3{
        font-size: 18px;          /* Tamanho ajustado do título */
        text-align: center;       /* Centraliza o texto */
        margin-bottom: 10px;
    }
    .contato .flex{
        width: 90%;
        margin: auto;
        height: auto;
        padding: 60px 0%;
    }
    .flex button{
        font-weight: bold;
        font-size: 16px;

    }


}